<h1><%= title%></h1>
<div class="formulario">
    <form action="/<%= action %>" method="post">
        <input type="text" name="task" id="tarefa" placeholder="Item" value="<%= value %> ">
        <button type="submit" name="adicionar" id="adicionar" class=""><%= namebtn %></button>

    </form>
</div>