<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CEP</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
            <th scope="col">CPF</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#" class="btn btn-outline-primary"><i class="bi bi-eye"></i></a>
                <a href="#" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                <a href="#" class="btn btn-outline-primary"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        
        </tbody>
      </table>
</body>
</html>